---
layout: page
title: Projects
---
<section class="list">
    {% for project in site.projects %}
            {% if post.hidden != true %}
            {% assign project_posts = site.posts | where: "project", project.project_id | sort: "date" %}
            {% assign first_post = project_posts | first %}

                <div class="item">
                    <a class="url" style="font-weight: 600;padding:0px 0;" href="{% if project.externalLink %}{{ project.externalLink }}{% else %}{{ site.url }}{{ first_post.url }}{% endif %}">
                        <h2>{{ project.name }}</h3>
                        <aside>
                            {% for project_post in project_posts %}
                            <a class="url" style="font-weight: bold;" href="{% if project_post.externalLink %}{{ project_post.externalLink }}{% else %}{{ site.url }}{{ project_post.url }}{% endif %}">
                                {{ forloop.index }}
                            <a/> /
                            {% endfor %}
                        </aside>
                    </a>
                    {{ project.content }}
                </div>
        {% endif %}
    {% endfor %}
</section>
